.footer{
    padding: 60px 40px 20px 40px;
    .footerTitle{
        font-size: 18px;
        font-weight: 500;
    }
    .footerDescription{
        line-height: 24px;
        font-size: 14px;
        display: block;
        max-width: 90%;
    }
    .readMore{
        margin: 4px 0 10px 0;
        font-size: 12px;
        position: relative;
        display: inline-block;
        cursor: pointer;
        &::after {
            position: absolute;
            content: "";
            top: 100%;
            left: 0;
            right: 100%;
            height: 1px;
            background-color: #666;
            transform-origin: left;
            transition: right 0.2s ease-in-out;
        }
        &:hover::after {
            right: 0;
        }
    }
    .footerList{
        list-style: none; 
        padding: 0;
        margin: 0;
        font-size: 14px;
        .footerItem {
            padding: 4px 0;
            display: flex;
            cursor: pointer;
            & span {
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    top: calc(100% + 2px);
                    left: 0;
                    right: 100%;
                    height: 1px;
                    background-color: #666;
                    transform-origin: left;
                    transition: right 0.2s ease-in-out;
                }
                &:hover::after {
                    right: 0;
                }
            }
        }
    }
}