.Loading{
    z-index: 100;
    position : fixed;
    top : 0;
    bottom : 0;
    left : 0;
    right : 0;
    display: none; 
    justify-content : center; 
    background-color : rgb(204, 204, 204 , .5);
    align-items : center;
}
.isLoading{
    display: flex;
}