.Find{
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 10px;
    left:  0;
    right: 0;
    align-items: center;
    .FindProduct{
        border-radius: 20px;
        padding: 4px;
        display: flex;
        justify-content: center;
        border: 1px solid #666;
        width: 200px;
        background-color: #FFFFFF;
        button {
            border: none;
            width: 95px;
            padding: 6px 3px;
            height: 100%;
            border-radius: 20px;
            font-size: 16px;
            background-color: #FFFFFF;
            cursor: pointer;
            transition: background_color linear 0.2s;
        }
        .btnGrid {
            &:hover {
                background-color: black;
                color: #FFFFFF;
            }
            &:hover .btnSearch{
                background-color: #FFFFFF;
            }
        }
        .btnSearch {
            &:hover {
                background-color: black;
                color: #FFFFFF;
            }
            &:hover .btnGrid{
                background-color: #FFFFFF;
            }
        }
    }
}

